@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.single-work img {
  width: 300px;
}

section {
  width: auto;
}

a {
  text-decoration: none;
}

.card {
  height: 386px;
  width: 327px;
}

.content {
  background-image: url("images/illustration/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: right 10px top 250px;
  max-width: 100%;
  background-color: #1c1a19;
  min-height: 590px;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

button {
  background: none;
}

header {
  background: #3c3a39;
  min-height: 92px;
  flex-direction: column;
  justify-content: space-around;
}

header,
.status-bar,
.icons,
.menu,
.content {
  display: flex;
}

.works {
  height: 3455px;
  width: fit-content;
}

.all-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.card-1 {
  background: url(images/first-work.png);
  background-repeat: no-repeat;
}

.card-2 {
  background: url(images/data-dashbord.png);
  background-repeat: no-repeat;
}

.card-3 {
  background: url(images/website-p.png);
  background-repeat: no-repeat;
}

header > *,
section {
  padding: 0 24px;
}

nav .status-bar {
  padding: 0 8px;
  justify-content: space-between;
  align-items: center;
}

.hour {
  flex: 4;
}

.icons {
  flex: 1;
  justify-content: space-between;
}

.menu {
  justify-content: space-between;
  align-items: center;
}

.menu h6 {
  float: left;
}

.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-right: 24px;
}

.content > * {
  margin-bottom: 8px;
  top: 120px;
}

.title {
  color: #ff6b00;
  font-family: "Create Round", sans-serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}

.subtitle {
  color: #fff5e1;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  padding-left: 10px;

  /* or 141% */

  color: #fff;
  margin-bottom: 10px;
}

.project-details {
  display: grid;
}

.project-details ul {
  list-style: none;
}

.illustration img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
}

.social-media ul {
  display: flex;
}

.project-name {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;

  color: #fff;
  padding-left: 10px;
  padding-top: 50px;
}

.project-content li {
  margin: 12px;
}

.boxes li {
  margin-right: 10px;
  padding-left: 10px;
}

.social-media ul li {
  list-style: none;
}

.head {
  color: #1c1a19;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  padding-top: 120px;
  margin: 24px 0;
  padding-bottom: 104px;
  border-bottom: 2px solid #212121;
}

.single-work {
  margin-bottom: 24px;
}

.project-title {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #1c1a19;
  margin-bottom: 12px;
}

.separation {
  margin-bottom: 80px;
}

.describe {
  color: #091e42;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.main-tags {
  margin-top: 12px;
  display: flex;
  grid-gap: 12px;
}

.nav-items {
  display: none;
}

.main-tags ul {
  display: flex;
}

.main-tags ul li {
  padding: 10px;
}

.main-butt {
  margin-bottom: 24px;
}

.boxes {
  display: flex;
}

.boxes ul {
  list-style: none;
}

.main-tags .main-butt:hover {
  color: gray;
}

.single {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.view-project {
  margin-left: 24px;
}

.see-project,
.resume {
  height: 48px;
  width: 100%;
  background-color: #ff6b00;
  padding: 12px;
  display: block;
  bottom: 0;
  right: 0;
}

.see-project:hover {
  background-color: white;
  color: #ff6b00;
}

.see-project::after {
  background-color: orangered;
}

.about {
  height: 2100px;
  left: 0;
  top: 4137px;
  background: #1c1a19;
  background-image: url("images/illustration/illustration-about-me-mobile.svg");
  background-repeat: no-repeat;
  background-position: right 3em top 300px;
}

.titl {
  text-align: center;
  color: #ff6b00;
  font-family: "Create Round", sans-serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 24px;
  padding-top: 120px;
}

.about-me {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 24px;
}

.resume {
  padding-top: 24px;
}

.border {
  padding-top: 10px;
  padding-bottom: 136.73px;
}

.language {
  display: flex;
  padding-left: 86.77px;
  padding-top: 150px;
}

.language .lang-header {
  margin-left: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.res {
  position: absolute;
}

.about-ill {
  padding-left: 200px;
}

.skills ul {
  list-style: none;
  text-align: center;
}

.skills ul li {
  padding: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
}

.contact-section {
  background: white;
}

.contact h3 {
  color: #172b4d;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  padding-top: 120px;
}

.contact .contact-list {
  border-bottom: 2px solid #dbd8d7;
  padding-bottom: 5px;
  margin-right: 50px;
  margin-left: 35px;
}

input {
  outline: none;
  font-size: 15px;
  line-height: 24px;
  padding-top: 70px;
  font-style: normal;
  font-weight: normal;
  color: #979493;
  padding-bottom: 20px;
  padding-left: 25px;
}

input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #979493;
}

textarea {
  background: #fbf8f7;
  font-size: 15px;
  line-height: 24px;
  margin-right: 24px;
  color: #3c3a39;
  font-style: normal;
  font-weight: normal;
  padding-top: 20px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.mess textarea::placeholder {
  color: #3c3a39;
  font-style: normal;
  font-weight: 250;
  font-size: 20px;
  line-height: 200%;
  margin-left: 25px;
  padding-left: 30px;
}

.btn {
  background-color: #ff6b00;
  text-align: center;
  width: 50%;
  align-items: center;
  padding: 12px;
  display: block;
  height: 48px;
  margin: auto;
  margin-bottom: 100px;
}

.main-button {
  background-color: #ff6b00;
  padding: 12px;
  height: 48px;
  margin-left: 20px;
}

.main-button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
  color: #f55800;
}

.btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
  color: #f55800;
}

.btn::after {
  background: #e05304;
  color: #f4f1f0;
}

.separation-desktop {
  display: none;
}

.mess {
  padding-top: 25px;
}

.footer-links {
  padding-top: 10px;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.footer-links ul li {
  justify-content: center;
  padding-left: 30px;
}

.contact form ul {
  list-style: none;
}

.about-butt {
  background-color: #ff6b00;
  padding: 12px;
  height: 48px;
  margin-left: 20px;
  width: 150px;
  text-align: center;
}

.about-butt:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
  color: #f55800;
}

.footer-social {
  flex: 0.5;
}

.separation-long {
  display: none;
}

.shape {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

hr.new {
  border-top: 1px solid #dfe1e6;
}

@media screen and (max-width: 1400px) and (min-width: 992px) {
  html,
  body {
    min-height: 100%;
    min-width: 100%;
  }

  .card-1 {
    background: url("images/first-work.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .status-bar {
    display: none;
  }

  .toolbar-icon {
    display: none;
  }

  .content .top-content {
    display: flex;
    flex-direction: row-reverse;
  }

  .intro {
    position: absolute;
    left: 6%;
    top: 20%;
    padding-left: 30px;
  }

  .project-details {
    display: grid;
    padding-top: 5px;
  }

  .project-name {
    display: grid;
    grid-template-columns: 350px;
  }

  .project-details p {
    display: grid;
    grid-template-columns: 370px;
  }

  .content {
    background-image: url("images/top-back.svg");
    background-repeat: no-repeat;
    background-position: right -1em top -250px;
  }

  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 81px;
    color: #f55800;
  }

  .subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .illustration {
    padding-right: 30px;
  }

  .description {
    display: grid;
    grid-template-columns: 500px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .social-media ul {
    display: inline;
    position: absolute;
    left: 2%;
    top: 30%;
    padding-right: 60px;
  }

  .card-single {
    display: flex;
  }

  .head {
    border-bottom: none;
  }

  .main-butt {
    padding-left: 20px;
  }

  .about-dec {
    display: flex;
    padding-left: 100px;
    padding-bottom: 60px;
  }

  .border {
    display: none;
  }

  .titl {
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 81px;
    padding-left: 30px;
    text-align: start;
  }

  .about-me {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin-left: 25px;
  }

  .single-work img {
    width: 600px;
  }

  .all-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    padding-top: 30px;
    padding-left: 200px;
    align-items: center;
  }

  .about-ill {
    padding-top: 120px;
    align-items: center;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-desc h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
  }

  .contact-form {
    padding-top: 60px;
  }

  input {
    outline: none;
    font-size: 15px;
    line-height: 24px;
    padding-top: 50px;
    font-style: normal;
    font-weight: normal;
    color: #979493;
    padding-bottom: 15px;
    padding-left: 25px;
  }

  input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #979493;
  }

  textarea {
    line-height: 24px;
    background: #fbf8f7;
    font-size: 15px;
    margin-right: 24px;
    color: #3c3a39;
    font-style: normal;
    font-weight: normal;
    padding-top: 20px;
    margin-bottom: 30px;
    margin-left: 25px;
  }

  .mess textarea::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
  }

  .btn {
    background-color: #ff6b00;
    width: 20%;
    padding: 12px;
    height: 48px;
    margin-bottom: 100px;
    margin-left: 30px;
  }

  .lang-part {
    display: flex;
  }

  .skills ul {
    list-style: none;
  }

  .show-lang {
    padding-left: 30px;
    padding-right: 40px;
  }

  .cards {
    width: fit-content;
  }

  .project-content {
    display: grid;
    grid-template-columns: 250px;
  }

  .project-content p {
    display: grid;
    grid-template-columns: 600px;
  }

  .nav-items {
    display: flex;
  }

  .nav-items ul {
    list-style: none;
    display: flex;
    color: #f4f1f0;
  }

  .nav-items ul li {
    padding-right: 20px;
  }

  .project-title {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #091e42;
  }

  .describe {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    padding-left: 20px;
    color: #091e42;
  }

  .main-tags {
    margin-top: 12px;
    display: flex;
    grid-gap: 12px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .main-tags ul {
    padding-left: 5px;
  }

  .works {
    height: 1440px;
    width: 870px;
    max-width: 100%;
  }

  .card {
    margin: 0;
    padding: 4px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 435px;
    width: 369px;
  }

  .separation-long {
    position: absolute;
    top: 130%;
    left: 35%;
    display: inline;
  }

  .about-butt {
    margin-bottom: 60px;
  }

  .about {
    background-image: url(images/botill.svg);
    background-repeat: no-repeat;
    background-position: right 3em top 90px;
  }

  .main-about {
    display: grid;
    grid-template-columns: 400px;
    border-bottom: 1px solid #fff;
  }

  .skills ul li {
    padding: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 43px;
    text-align: left;
    margin-left: 35px;
    list-style: none;
    padding-left: 20px;
  }

  .language {
    display: flex;
    padding-left: 30px;
    margin-left: 30px;
    padding-top: 100px;
    padding-top: 30px;
  }

  .lang-header {
    text-align: center;
    margin-left: 0;
  }

  hr.new {
    border-top: 1px solid #dfe1e6;
  }
}
