.header-nav {
  background: #3c3a39;
}
.container {
  position: absolute;
  display: inline;
  width: 375px;
  height: 92px;
  left: 0px;
  top: 0px;
  background: #3c3a39;
}
.container ul li{
    display: inline;
}

.logo {
    font: roboto;
    width: 163px;
    height: 44px;
    top: 2px;
    left: 2px;
    margin-left: 24px;
    font-weight: 700;
    color: white;
    line-height: 24px;
}
.content {
    background: #1C1A19;
}